body {
    background-color: gray;
    font-family: sans-serif;
}

.container {
    align-items: center;
    justify-content: center;
}

.box1, .box2, .box3 {
    margin: 30px 100px 30px 100px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 10px;
}

button {
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn1 {
    background-color: palegreen;
}

.btn1:hover {
    background-color: darkgreen;
    color: aliceblue;
}

.btn2 {
    background-color: palevioletred;
}

.btn2:hover {
    background-color: red;
    color: aliceblue;
}

.btn3 {
    background-color: paleturquoise;
}

.btn3:hover {
    background-color: darkblue;
    color: aliceblue;
}